---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'ko-KR' }}">
{% include head.html %}

<body>
    <noscript id="deferred-styles">
        <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </noscript>
    <a class="skip-to-main" href="#main-content">Skip to main content</a>
    {% include icons/icons.html %}
    {% include components/sidebar.html %}
    <div class="main" id="top">
        {% include components/header.html %}
        <div class="main-content-wrap">
            {% include components/breadcrumbs.html %}
            <div id="main-content" class="main-content">
                <main>
                    {% if site.heading_anchors != false %}
                    <h1><strong>{{ page.title }}</strong></h1>
                    {% if page.has_children == false and page.published_date != nil %}
                    작성일: {{ page.published_date }}
                    {% endif %}
                    {% include readtime_post.html %}
                    <br />
                    {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg
                        viewBox=\"0 0 16 16\" aria-hidden=\"true\">
                        <use xlink:href=\"#svg-link\"></use>
                    </svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
                    {% else %}
                    <h1><strong>{{ page.title }}</strong></h1>
                    {% if page.has_children == false and page.published_date != nil %}
                    작성일: {{ page.published_date }}
                    {% endif %}
                    <br />
                    {{ content }}
                    {% endif %}

                    {% if page.has_children == true and page.has_toc != false %}
                    {% include components/children_nav.html %}
                    {% endif %}

                    {% if page.has_children == false %}
                    {% include components/prev_next.html
                    include_parent=page.parent
                    include_grand_parent=page.grand_parent
                    include_nav_order=page.nav_order
                    %}
                    {% endif %}

                    {% if page.has_children == false %}
                    <script src="https://giscus.app/client.js" data-repo="weekend-study-kr/weekend-study-kr.github.io"
                        data-repo-id="R_kgDOJ0EQOQ" data-category="General" data-category-id="DIC_kwDOJ0EQOc4CaQfX"
                        data-mapping="title" data-strict="0" data-reactions-enabled="1" data-emit-metadata="0"
                        data-input-position="bottom" data-theme="light" data-lang="ko" data-loading="lazy"
                        crossorigin="anonymous" async>
                        </script>
                    {% endif %}
                </main>
                {% include components/footer.html %}
            </div>
        </div>
        {% if site.search_enabled != false %}
        {% include components/search_footer.html %}
        {% endif %}
    </div>

    <!--  {% if site.mermaid %}-->
    <!--    {% include components/mermaid.html %}-->
    <!--  {% endif %}-->
</body>

</html>